In [1]:
import pandas as pd
import numpy as np
import praw
from cytoolz import first
from collections import Counter

pd.set_option('display.max_rows',50)

In [17]:
reddit = praw.Reddit(client_id='kYnIGhVaIbi1Tg',
                     client_secret='L6TPlqTQY_e0kVG3E2TpfggCKLQ',
                     user_agent='text mining class')

In [18]:
beauty = reddit.subreddit('DataIsBeautiful')

In [19]:
s = first(beauty.hot())
s

Submission(id='eunngt')

In [20]:
s.title

'[Topic][Open] Open Discussion Monday — Anybody can post a general visualization question or start a fresh discussion!'

In [21]:
s.author

Redditor(name='AutoModerator')

In [22]:
s.author.name

'AutoModerator'

In [23]:
c = s.comments.list()

In [24]:
len(c)

21

In [25]:
s.comments.replace_more(limit=0)

[]

In [26]:
c = s.comments.list()
len(c)

21

In [27]:
c[0]

Comment(id='ffqpm60')

In [28]:
c[0].author

Redditor(name='endangered_upsurge')

In [29]:
c[0].author.name

'endangered_upsurge'

In [30]:
c[0].body

'I’m beginning an economic data project in school but have struggled to find downloadable data sets that contain historical data. What are some good websites/resources to find historical data whether it be monthly prices for goods, yearly population stats, or yearly data for common economic variables.'

In [31]:
c[0].created

1580169488.0

In [32]:
df = pd.DataFrame({'author':x.author.name,'created':x.created,'text':x.body} for x in c if x.author)

In [33]:
df

,author,created,text
0,endangered_upsurge,1.580169e+09,I’m beginning an economic data project in scho...
1,Deadmeat553,1.580310e+09,I'm interested in seeing a tree of all close c...
2,Snaaaaaaaaaake,1.580684e+09,Serious Question... \n\n\nHave you ever seen ...
3,kokishinkiba,1.580259e+09,Does anyone have a credible data for most supe...
4,YoungHamilton,1.580478e+09,Are there rules around posting the racing bar ...
5,codeyCode,1.580524e+09,What is the best graph to use for 3 variables ...
6,FuckRedditForSure,1.580735e+09,Anyone working with genetic algorithms and hum...
7,2DD4eva,1.580855e+09,Soccer. Soccer. Soccer. \nPremier. MLS. Champi...
8,Wferguson11,1.580874e+09,Question: I am a teacher. Our school pushes da...
9,BigPawh,1.580899e+09,"Edit: The answer is ""Sankey Diagram""\n\nHello!..."
10,2-Point-O,1.580988e+09,"go fuck yourselves, oh, wait. y'all really stu..."
11,Keezos,1.581009e+09,"Hello, my question is a mix between Data Viz a..."
12,jbaron3,1.581032e+09,I work for a City and the Clerk is interested ...
13,HAMMERPATRIOT,1.580259e+09,The Fred is the best source for a lot of this ...
14,Prof--G,1.580811e+09,Eurostat https://ec.europa.eu/eurostat/home?
15,HAMMERPATRIOT,1.580259e+09,The Fred is the best source for a lot of this ...
16,HAMMERPATRIOT,1.580259e+09,The Fred is the best source for a lot of this ...
17,Prof--G,1.580811e+09,Use color for the third dimension.
18,Prof--G,1.580811e+09,It sure what you are asking....\n\nTry Manhat...
19,Pecners,1.580891e+09,Really depends on the tools you’re using. You ...
20,ghost202,1.581054e+09,"Hey, I actually kinda know this one!\n\nIt's a..."

In [34]:
df['created'] = pd.to_datetime(df['created'], unit='s')

In [35]:
df

,author,created,text
0,endangered_upsurge,2020-01-27 23:58:08,I’m beginning an economic data project in scho...
1,Deadmeat553,2020-01-29 15:06:38,I'm interested in seeing a tree of all close c...
2,Snaaaaaaaaaake,2020-02-02 22:52:34,Serious Question... \n\n\nHave you ever seen ...
3,kokishinkiba,2020-01-29 00:56:22,Does anyone have a credible data for most supe...
4,YoungHamilton,2020-01-31 13:32:30,Are there rules around posting the racing bar ...
5,codeyCode,2020-02-01 02:33:09,What is the best graph to use for 3 variables ...
6,FuckRedditForSure,2020-02-03 12:57:02,Anyone working with genetic algorithms and hum...
7,2DD4eva,2020-02-04 22:24:31,Soccer. Soccer. Soccer. \nPremier. MLS. Champi...
8,Wferguson11,2020-02-05 03:36:52,Question: I am a teacher. Our school pushes da...
9,BigPawh,2020-02-05 10:44:42,"Edit: The answer is ""Sankey Diagram""\n\nHello!..."
10,2-Point-O,2020-02-06 11:25:00,"go fuck yourselves, oh, wait. y'all really stu..."
11,Keezos,2020-02-06 17:07:16,"Hello, my question is a mix between Data Viz a..."
12,jbaron3,2020-02-06 23:32:50,I work for a City and the Clerk is interested ...
13,HAMMERPATRIOT,2020-01-29 00:52:18,The Fred is the best source for a lot of this ...
14,Prof--G,2020-02-04 10:03:07,Eurostat https://ec.europa.eu/eurostat/home?
15,HAMMERPATRIOT,2020-01-29 00:52:24,The Fred is the best source for a lot of this ...
16,HAMMERPATRIOT,2020-01-29 00:52:40,The Fred is the best source for a lot of this ...
17,Prof--G,2020-02-04 10:04:05,Use color for the third dimension.
18,Prof--G,2020-02-04 10:08:11,It sure what you are asking....\n\nTry Manhat...
19,Pecners,2020-02-05 08:25:16,Really depends on the tools you’re using. You ...
20,ghost202,2020-02-07 05:39:07,"Hey, I actually kinda know this one!\n\nIt's a..."

In [37]:
%%time

comments = [ ]
for s in beauty.new(limit=5000):
    s.comments.replace_more(limit=0)
    comments.extend({'author':x.author.name,'created':x.created,'text':x.body} 
                    for x in s.comments.list() if x.author)
df = pd.DataFrame(comments)

CPU times: user 12.5 s, sys: 129 ms, total: 12.7 s
Wall time: 6min 2s

In [39]:
df.groupby('author')['text'].count().sort_values(ascending=False)

author
tipfom                  162
VegeoPro                 81
Z3ttrick                 77
TA201805091716           74
goldleader71             73
                       ...
cxa5                      1
cwbloom                   1
cvvand                    1
cuvar                     1
--Reddit--Username--      1
Name: text, Length: 20018, dtype: int64

In [40]:
from nltk.tokenize import TweetTokenizer
T = TweetTokenizer(preserve_case=False, reduce_len=True, strip_handles=True)

In [41]:
df['tokens'] = df['text'].apply(T.tokenize)

In [42]:
from cytoolz import concat

In [43]:
subset = df['author'] == 'VegeoPro'
freq = pd.DataFrame({'all':Counter(concat(df['tokens'])),
                     'user':Counter(concat(df[subset]['tokens']))})

In [44]:
freq['pmi'] = np.log2( ( freq['user'] * np.sum(freq['all']) ) /
                       ( freq['all'] * np.sum(freq['user']) ) )

In [45]:
freq[freq['user']>100].sort_values('pmi', ascending=False).head(20)

       all   user       pmi
the  54365  144.0  0.523189
.    60903  107.0 -0.069104

In [46]:
subset = df['author'] == 'Z3ttrick'
freq = pd.DataFrame({'all':Counter(concat(df['tokens'])),
                     'user':Counter(concat(df[subset]['tokens']))})

In [47]:
freq['pmi'] = np.log2( ( freq['user'] * np.sum(freq['all']) ) /
                       ( freq['all'] * np.sum(freq['user']) ) )

In [48]:
freq[freq['user']>25].sort_values('pmi', ascending=False).head(20)

        all   user       pmi
data   3785   36.0  2.255131
!      4047   30.0  1.895537
)      8674   34.0  0.976264
(      8691   34.0  0.973440
for   10585   36.0  0.771475
i     19836   62.0  0.649646
and   22262   60.0  0.435878
the   54365  127.0  0.229578
to    27924   61.0  0.132803
,     39771   79.0 -0.004365
.     60903  117.0 -0.052578
it    16172   27.0 -0.255040
in    17771   29.0 -0.287973
a     25661   34.0 -0.588544
of    23797   27.0 -0.812321